{% extends "base.html" %}

{% block body %}



                <section class="vh-100" style="background-color: #9A616D;">
                    <div class="container py-5 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-xl-10">
                          <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">

                <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{{ url_for('static', filename='HOME.jpg') }}"
                  alt="home page" class="img-fluid" style="border-radius: 1rem 0 0 1rem; max-width: 90%; height: 100%;" />
                </div>


                <div class="col-md-6 col-lg-5 d-flex align-items-center">
                <div class="card-body p-7 p-lg-2 text-black text-center">

                    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1.5px;">Stray Dog</h1>
                      
                    <img src="{{ url_for('static', filename='stray-dog.svg') }}"
                  alt="home page" class="img-fluid" style="border-radius: 1rem 0 0 1rem; max-width: 50%; height: 50%;" />
  
        
                                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                    
                                    <button type="button" class="btn btn-outline-dark btn-secondary"><a href="{{ url_for('register') }}"
                                        style="color: #f0f6ee; text-decoration: none;">  Sign Up  </a></button>
                                    
                                    <button type="button" class="btn btn-outline-dark btn-secondary"><a href="{{ url_for('login') }}"
                                        style="color: #f0f6ee;text-decoration: none;">Log In</a></button>
                                    
                                    <button type="button" class="btn btn-outline-dark btn-secondary"><a href="{{ url_for('register') }}"
                                        style="color: #f0f6ee;text-decoration: none;">Browse</a></button>
                                  </div>
                
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock %}